<div style=" display: flex; justify-content: center;" class="fb-page" data-href="https://www.facebook.com/dr.raksha.suvarna" data-tabs="" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/dr.raksha.suvarna" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/dr.raksha.suvarna">Dr Raksha Suvarna</a></blockquote></div>

<br>
<!-- Android and Apple icons to open directly in App(Displaying Only on mobile devices) -->
<div class="small-screen">
<div style=" display: flex; justify-content: center;"><p style="font-family:arial,helvetica,courier;">Open <span style="color: #4267B2;"><i class="fab fa-facebook"></i></span> Page in App</p></div>
<div class="grid-container" style=" display: flex; justify-content: center;">
<div class="grid-child" style="justify-content: top;">
    <a href="fb://profile/103919638068822">
        <span style="font-size: 1.5rem;">
            <span style="color: black;">
            <i class="fab fa-apple"></i>
            </span>
        </span>
    </a>
</div>
<div class="grid-child">
    <a href="fb://page/103919638068822">
        <span style="font-size: 1.5rem;">
            <span style="color: black;">
            <i class="fab fa-android"></i>
            </span>
        </span>
    </a>
</div>
</div>
</div>