<!-- Instagram Follow-->
<p class="large-screen">Follow <a href="https://instagram.com/dr.raksha.suvarna">Dr Raksha Suvarna</a> on
    <a href="https://instagram.com/dr.raksha.suvarna">
        <span style="font-size: 1.5rem;">
            <span style="color: indianred;">
            <i class="fab fa-instagram"></i>
            </span>
        </span>
    </a>
</p>
<p class="small-screen">Follow <a href="https://instagram.com/dr.raksha.suvarna">Dr Raksha Suvarna</a> on
    <a href="instagram://user?username=dr.raksha.suvarna">
        <span style="font-size: 1.5rem;">
            <span style="color: indianred;">
            <i class="fab fa-instagram"></i>
            </span>
        </span>
    </a>
</p>